* {
  box-sizing: border-box;
}

html {
  font-size: 12pt;
  font-family: Verdana, Arial, Tahoma, sans-serif;
}

body {
  background-color: #333;
  color: white;
  margin: 0;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

nav .link1 {
  animation: transitionIn .875s;
}

nav .link2 {
  animation: transitionIn 1s;
}

nav .link3 {
  animation: transitionIn 1.125s;
}

nav .link4 {
  animation: transitionIn 1.25s;
}

@keyframes transitionIn2 {
  from {
    opacity: 0;
    transform: translateX(75px);
  }
  
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes transitionIn3 {
  from {
    opacity: 0;
    transform: translateX(-75px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

nav {
  position: fixed;
  top: 0;
  width: 980px;
  height: 60px;
  background-color: #333;
  display: flex;
  align-items: center;
}

.links-container {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}

nav a {
  height: 100%;
  width: 100%;
  padding: 0 35px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f2f2f2;
}

nav a:hover {
  color: #9370db;
}

a:is(:link, :active, :visited).active {
  color: #9370db;
}

nav .myself-link {
  margin-right: auto;
  color: #f2f2f2;
  align-items: center;
  padding: 0 20px;
  animation: transitionIn 0.75s;
}

nav i {
  color: #f2f2f2;
}

nav i:hover {
  color: #9370db;
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
}

#column1 {
  padding: 175px 75px 75px 75px;
  animation: transitionIn2 .75s;
}

#column2 {
  padding-top: 120px;
  padding-left: 40px;
  padding-bottom: 75px;
  animation: transitionIn3 .75s;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

img {
  border: 5px solid #9370db;
  border-radius: 50%;
  box-shadow: 0 0 25px #9370db;
}

.aboutmetxt {
  border-radius: 15px;
  border: 3px solid #9370db;
  padding: 20px;
  height: auto;
  width: 400px;
  box-shadow: 0 0 20px #9370db;
}

.hmbtn {
  background-color: #333;
  color: white;
  border-radius: 25px;
  height: 40px;
  width: 125px;
  border: 1px solid #9370db;
}

.hmbtn:hover {
  background-color: #f0ffff;
  color: #9370db;
  transform: translateY(-5px);
  transition: all 0.25s ease;
}

footer {
  background-color: #333;
  text-align: center;
  color: white;
  height: 60px;
  animation: transitionIn 1s;
}

@media screen and (max-width:450px) {
  .links-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;
    background-color: #333;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.50s ease-out;
  }

  nav a {
    box-sizing: border-box;
    height: auto;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  
  nav {
    position: fixed;
    top: 0;
    width: 360px;
  }
  
  .open-sidebar-button,
  .close-sidebar-button {
    display: block;
    padding: 20px;
  }

  #sidebar-active:checked~.links-container {
    right: 0;
  }

  #sidebar-active:checked~#overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
  
  .column {
    width: 100%;
  }
  
  .aboutmetxt {
    width: 300px;
  }
  
  #column1 {
    padding: 100px 30px 0 30px;
}

  #column2 {
   padding: 50px 30px 60px 30px;
 }
 
 #menu {
   animation: transitionIn 0.875s;
 }
}